/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* Default test configuration file for configuring any test
 * of the join manager utility when JERI is used for remote
 * communication.
 *
 * To use this configuration, this file should be specified in the
 * file /vob/qa/src/com/sun/jini/resources/joinmanager.properties
 * (or something equivalent) in the following way:
 *
 *   testConfiguration=tests/spec/joinmanager/default.config
 *
 * Each test wishing to configure the utility being tested should
 * call SysConfig.getConfiguration() to retrieve the contents of
 * this file as a Configuration object, so that it can then be
 * passed into the instance of the utility being tested.
 *
 * Thus, the items contained in this file should generally be
 * the configuration entries specified by the utility being
 * tested. For the join manager, those entries are:
 *
 *   registrarPreparer
 *   registrationPreparer
 *   serviceLeasePreparer
 *   discoveryManager
 *   leaseManager
 *   taskManager
 *   wakeupManager
 *   wakeupRetries
 */
import net.jini.security.BasicProxyPreparer;
import net.jini.config.ConfigurationProvider;

test {
}

net.jini.lookup.JoinManager {

    wakeupRetries = 7;

}//end net.jini.lookup.JoinManager
