/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

import net.jini.constraint.BasicMethodConstraints;
import net.jini.constraint.BasicMethodConstraints.MethodDesc;
import net.jini.core.constraint.ConnectionRelativeTime;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;
import com.sun.jini.discovery.DiscoveryProtocolVersion;
import com.sun.jini.discovery.UnicastSocketTimeout;
import java.net.InetAddress;
import java.net.NetworkInterface;


com.sun.jini.reggie {
    discoveryConstraints = new BasicMethodConstraints(
        new MethodDesc[] {
            new MethodDesc("unicastDiscovery", 
                new InvocationConstraints(
                    new InvocationConstraint[] {
                        new UnicastSocketTimeout(180000), // 3*60*1000
                        new ConnectionRelativeTime(5000) // 
                    }, 
                    null
                )
            ),
            new MethodDesc("multicast*",
                new InvocationConstraints(
                    DiscoveryProtocolVersion.TWO, null                        
                )
            )    
        }
    );
    initialMemberGroups = new String[]{"com.sun.jini.test.impl.reggie."
    	+ "MultihomedClientTest"};
    serverExporter = new BasicJeriExporter(
        TcpServerEndpoint.getInstance("localhost", 0), new BasicILFactory());
    unicastDiscoveryHost = "localhost";
}

net.jini.discovery.LookupDiscovery {
    multicastRequestHost = "localhost";
    multicastInterfaces = new NetworkInterface[]{};
    discoveryConstraints = new BasicMethodConstraints(
        new MethodDesc[] {            
            new MethodDesc( "multicast*",
                new InvocationConstraints(
                    DiscoveryProtocolVersion.TWO, null                        
                )
            )    
        }
    );
}
